#author: johnx

jabber:
  id: your.servers@gmail.com
  passwd: your.password
  server: [talk.google.com, 5222]

wechat:
  id: wechat.mp.id
  passwd: your.password

ssh:
  host: 'xx.xx.xx.xx'
  port: 22
  user: root
  private_key: '~/.ssh/id_rsa'

message_server:
  debug: True
  recipients:
    - user1@jabber.com
    - user2@jabber.com

admin_email: admin.servers@gmail.com
command_lead: '?'