#author: johnx

jabber:
  id: your.servers@gmail.com
  passwd: your.password
  server: [talk.google.com, 5222]

server:
  host: 'xx.xx.xx.xx'
  port: 22
  user: root
  private_key: '~/.ssh/id_rsa'

admin_email: admin.servers@gmail.com
command_lead: '?'